{% extends 'layout.html' %}
{% block content %}
        {% for blog in blogs %}
            {% if loop.first %}
            	<div class="row team margin-bottom-20">
            {% endif %}
	            <div class="col-sm-3">
	                <div class="thumbnail-style thumbnail-kenburn" style="border: 1px solid #ddd;">
	                    <div class="overflow-hidden">
	                        <a href="{{ blog.blogUri }}"><img alt="" src="/img/team/1.jpg" class="img-responsive"></a>
	                    </div>
	                    <h2>
		                    <a>
		                    	<span class="icon-fire text-primary" aria-hidden="true"></span> 
		                    	{{ blog.name }}
		                    </a> 
		                    <div class="overflow-hidden" style="height:35px;">
		                       {% for tag in blog.tags %}
		                           <span class="label label-light">{{ tag }}</span>
		                       {% endfor %}
		                    </div>
	                    </h3>
	                    <p style="height: 62px;" class="overflow-hidden">{{ blog.evaluation }}</p>
	                    <ul class="list-unstyled list-inline team-socail">
	                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	                        <li><a href="#"><i class="fa fa-weibo"></i></a></li>
	                    </ul>
	                </div>
	            </div>
	        {% if loop.index%4 == 0 %}
            	</div>
		        <!-- <hr class="margin-bottom-40"> -->
		        <div class="row team margin-bottom-20">
            {% endif %}
        {% endfor %}
        {% if loop.end %}
        	</div>
        {% endif %}

{% endblock %}