{% extends 'layout.html' %}

{% block style %}
    {% parent %}
    <link rel="stylesheet" href="/css/pages/feature_timeline2.css">
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
            <!-- Begin Content -->
            <div class="col-md-12">
                <ul class="timeline-v2">
                    {% for timeLine in timeLines %}
                    <li>
                        <time class="cbp_tmtime" datetime=""><span>{{ timeLine.time }}</span> <span>{{ timeLine.month }}</span></time>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel">
                            <h2>{{ timeLine.title }}</h2>
                            <div class="row">                               
                                <div class="col-md-12">    
                                    <p>{{ timeLine.description }}</p> 
                                </div>
                            </div>        
                        </div>
                    </li>
                    {% endfor %}                  
                </ul>
            </div>
            <!-- End Content -->
        </div>  
</div>   
{% endblock %}